@import '../../common/styles/theme.scss';


.app-page-form-wrapper {
   position: relative;
   width: 85%;
   display: flex;
   flex-direction: column;
   row-gap: 15px;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   border: 1px solid $main-form-border-color;
   border-radius: 30px;
   padding: 40px;

   .app-page-form-two-column-input-wrapper {
      display: flex; 
      align-items: stretch;
      justify-content: space-between;
      width: 100%;
      column-gap: 100px;
   }

   .app-page-form-label {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      background-color: $page-color;
      font-size: 24px;
      margin: 0;
      padding: 0 10px;
      color: $main-app-navy-color;
      font-weight: 500;
   }

   .app-page-form-input-wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      row-gap: 10px;
      width: 100%;
      // min-width: 400px;

      label {
         margin-bottom: 5px;
         text-align: left;
      }

      label.required-label {
         font-weight: 700 !important;

         &::before {
            content: "* ";
            font-weight: 700 !important;
         }
      }

      .app-form-helper-text {
         height: 16px;
         margin-left: 3px;
      }
   }

   .app-page-form-full-width-input-wrapper {
      width: 100% !important;
   }

   .app-page-form-input {
      margin: 0 auto;
      width: 100% !important;

      &:hover {
         border-color: $main-app-navy-color;
      }

      &:focus {
         border-color: $main-app-navy-color;
      }

      &:active {
         border-color: $main-app-navy-color;
      }
   }

   .app-page-form-multiselect-input { 
      height: 56px !important;
   }

   .app-page-form-multiselect-input:has(input.MuiAutocomplete-inputFocused:focus) {
      height: auto !important;
   }

   .app-page-form-multiselect-input-tag {
      max-width: 180px !important;
      white-space: nowrap;
      padding-left: 8px !important;
      padding-right: 8px !important;
      font-size: 0.80rem !important;
      height: 30px !important;

      &.assigned-tasks-tag {
         max-width: 200px !important;
      }
   }

   .app-page-form-switch-wrapper {
      display: flex;
      align-items: center;
      width: 400px;
      column-gap: 10px;

      & label {
         font-size: 18px;
      }

      .p-highlight:has(> .p-inputswitch-slider) {
         background: #020772;
         border-radius: 0.5rem;

         .p-inputswitch-slider::before {
            background:white;
         }
      }
   }

}


.app-page-form-submit-button {
   padding: 10px 30px;
   height: 50px;
   background: linear-gradient(270deg, rgba(25,59,82,1) 0%, rgba(13,31,43,1) 110%);
   color: #FFF;
   font-size: 18px;
   font-weight: 500;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   transition: background-color 0.3s;
   text-transform: none;

   &:hover {
      background-color: $main-app-navy-color;
   }
}

.app-page-form-delete-button {
   padding: 10px 30px;
   height: 50px;
   background: linear-gradient(270deg, rgba(82, 20, 20, 1) 0%, rgba(107, 27, 27,1) 110%);
   color: #FFF;
   font-size: 18px;
   font-weight: 500;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   transition: background-color 0.3s;
   text-transform: none;

   &:hover {
      background-color: $main-app-navy-color;
   }
}

.app-form-wrapper-only-fields-mode {
   width: 100% !important;
   border: none !important;
   padding: 20px 25px 30px 25px !important;

   .app-page-form-label {
      display: none;
   }
}