@import '../../common/styles/theme.scss';

.app-page-form-wrapper {
   position: relative;
   width: 75%;
   display: flex;
   flex-direction: column;
   row-gap: 30px;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   border: 1px solid $main-form-border-color;
   border-radius: 30px;
   padding: 40px;

   .app-page-form-two-column-input-wrapper {
      display: flex; 
      align-items: center;
      justify-content: space-between;
      width: 100%;
      column-gap: 70px;
   }

   .app-page-form-label {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      background-color: $page-color;
      font-size: 24px;
      margin: 0;
      padding: 0 10px;
      color: $main-app-navy-color;
      font-weight: 500;
   }

   .app-page-form-input-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      width: 400px;

      label {
         margin-bottom: 5px;
         text-align: left;
      }

      label.required-label {
         font-weight: 700 !important;

         &::before {
            content: "* ";
            font-weight: 700 !important;
         }
      }

      .app-form-helper-text {
         height: 16px;
         margin-left: 3px;
      }
   }

   .app-page-form-full-width-input-wrapper {
      width: 100% !important;
   }

   .app-page-form-input {
      margin: 0 auto;
      width: 100% !important;

      &:hover {
         border-color: $main-app-navy-color;
      }

      &:focus {
         border-color: $main-app-navy-color;
      }

      &:active {
         border-color: $main-app-navy-color;
      }
   }

   .app-page-form-switch-wrapper {
      display: flex;
      align-items: center;
      width: 400px;
      column-gap: 10px;

      & label {
         font-size: 18px;
      }

      .p-highlight:has(> .p-inputswitch-slider) {
         background: #020772;
         border-radius: 0.5rem;

         .p-inputswitch-slider::before {
            background:white;
         }
      }
   }

   .app-page-form-submit-button {
      padding: 10px 30px;
      height: 50px;
      background-color: #020772;
      color: white;
      font-size: 18px;
      font-weight: 500;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: background-color 0.3s;
      text-transform: none;

      &:hover {
         background-color: $main-app-navy-color;
      }
   }
}