@import '../../../../common/styles/theme.scss';


.admin-page-view-all-users-full-name-body-wrapper {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   column-gap: 8px;

   & img {   
      border-radius: 50%;
   }
}